/* CONTENT*/
/* TOP */
.top {
    text-align: center;
}

.top h1,
.top h2,
.top h3 {
    margin: 1rem 0 0rem 2rem;
    text-align: left;
}

.top h2 {
    font-style: italic;
}

#web-dev-img {
    width: 80%;
    transform: rotate3d(1, -.5, 0.2, 30deg);
    box-shadow: 2rem 2rem 2rem #808080;
    border: 0.5rem solid #E9DCE9;
    margin: 2rem;
}

/* MIDDLE */

.middle-container {
    background-color: #D3D3D3;
    border-top: 4px outset #ebe8e8;
    border-bottom: 4px inset #ebe8e8;
}

#resp-web-design {
    display: none;
    transform: rotate3d(1, 0, -0.2, 30deg);
    box-shadow: 1rem 1rem 1rem #808080;
    border: 0.5rem solid #E9DCE9;
    height: 132px;
    width: 240px;
}

.checklist li {
    padding: 1rem;
}

.checklist {
    margin: 1rem 4rem;
    list-style-image: url('../img/check.png');
}

/* BOTTOM */
.bottom-flex-container h3 {
    margin: 0 2rem 1rem 2rem;
}

.bottom-flex-container section {
    flex: 1;
}

.date {
    font-size: 0.7rem;
    text-align: center;
    margin-bottom: 0.2rem;
}

#html5-logo {
    display: none;
    margin-right: 2rem;
}
/* END OF CONTENT */

@media only screen and (min-width: 1024px) {
    h1, h2, h3, .date {
        text-align: left;
    }

    .top section {
        float: left;
        width: 50%;
    }

    .top h1 {
        font-size: 4rem;
    }

    #web-dev-img {
        height: 252px;
        width: 380px;
    }

    .checklist {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1rem;
    }

    .bottom-flex-container {
        display: flex;
    }

    #html5-logo {
        display: block;
        float: right;
    }
}

@media only screen and (min-width: 1440px) {
    h1, h2, h3, .date {
        text-align: left;
    }

    h2, h3 {
        margin: 1rem 2rem;
    }
    h2 {
        text-align: left;
    }

    .top {
        display: flex;
        justify-content: space-between;
    }

    #web-dev-img {
        height: 252px;
        width: 380px;
    }

    #resp-web-design {
        display: block;
    }

    .middle div {
        display: flex;
        height: 10rem;
    }

    .checklist {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1rem;
    }

    .bottom-flex-container {
        display: flex;
    }
}
