body {
    color: #2a2a2a;
    background-color: #008086;
    font-family: Verdana;
    font-size: 13px;
}

#banner {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 160px;
}

nav {
    position: relative;
    background-color: #2a2a2a;
    overflow: hidden;
    height: 50px;
    text-align: left;
}

nav ul {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

nav a {
    color: rgb(253,248,206);
    text-decoration: none;
    margin-right: 80px;
}

nav a:hover {
    color: green;  /*subject to change*/
}

nav li {
    display: inline;
}

#current_page {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 10px;
}

.wrapper {
    background-color: #bde6e8;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: flex;
    margin-top: 20px;
}

.left_column {
    flex: 3;
    margin-left: 10px;
    margin-right: 25px;
}

.left_column h3 {
    margin-left: 40px;
}


#heart_list {
    list-style-image: url('../imgs/hart.png');
    margin-right: 10px;
    /* border: 1px solid black; */
    line-height: 1.8em
}

#heart_list li a {
    text-decoration: none;
    color: inherit;
}

.middle_column {
    flex: 5;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 0.8em;
}

#video_container {
    text-align: center;
}

.right_column {
    flex: 3;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

form {
    display: inline-block;
    width: 80%;
    text-align: left;
    background-color: #008086;
    color: white;
    font-size: 0.8em;
    margin-top: 50px;
    padding-left: 10px;
    padding-top: 2px;
    border-radius: 10px;
}

form h3 {
    color: #2a2a2a;
    margin-left: 8px;
}

#email_prompt, #submit_button {
    border-radius: 10px;
    margin-bottom: 10px;
}

#email_prompt {
    margin-top: 5px;
    width: 85%;
}

footer {
	height: 50px;
	background-color: #2a2a2a;
	color: rgb(253,248,206);
}

footer p {
    position: relative;
    left: 5%;
    top: 33%;
}

/* 1100 px cap /
