/* Remove margin & padding from everything */
* {
    margin: 0;
    padding: 0;
}

/* For older browsers */
header, footer, section, aside, nav, article {
	display: block;
}

/* General */

body {
    background-image: linear-gradient(to bottom right, #91c64f, #FFFFFF);
    background-attachment: fixed;
    font-family: Verdana, Arial, Helvetica;
    font-size: 14px;
    line-height: 18px;
}

#wrapper {
    width: 940px;
    margin: 30px auto;
    background-color: white;
    color: #333333;
    border: 3px solid gray;
    border-radius: 10px;
}

/* General elements */

ul {
    list-style-image: url('../img/Opsommingsteken.png');
    margin-left: 30px;
}

a:hover, a:active {
	color: #333;
    /* Webkit supported browsers (E.g. Chrome, Safari, Edge, Firefox on IOS, ...) */
    /* -> No layout shift */
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;

    /* Default but causes layout shitft */
    /* font-weight: bold; */

    /* DISLIKE: Using text-shadow */
    /* text-shadow: 0 0 1px black; */
}

h1, h2, h3, h4, h5, h6, a {
    color: RGB(89, 55, 35);
}

aside h3 {
    line-height: 1.5em;
    font-size: 18px;
    text-shadow: 0px 2px 3px #DDDDDD;
    margin: 10px;
}

/* Header */

header h1 {
    float: left;
    font-size: 40px;
    margin: 30px 10px;
}

header h2 {
    float: right;
    font-style: italic;
    font-size: 14px;
    margin-top: 35px;
    margin-right: 10px;
}

header img {
    vertical-align: bottom;
}

/* Navigation */

nav {
    height: 50px;
    background-color: RGB(89, 55, 35);
}

nav ul li {
    margin-top: 15px;
    margin-right: 20px;
    display: inline-block;
}

nav ul li a {
    padding: 10px;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* START OF FLEX CONTAINER */
#flex-container {
    display: flex;
}

/* Left column */

#left {
    flex: 1;
    margin-left: 15px;
    margin-top: 10px;
}

/* Middle column */

#middle {
    flex: 2;
    text-align: justify;
    border-left: 3px solid RGB(89, 55, 35);
    border-right: 3px solid RGB(89, 55, 35);
    padding: 15px;
}

#middle h2 {
    text-decoration: underline;
    margin: 10px 10px 25px 10px;
}

#middle img {
    float: left;
    margin: 0px 10px 5px 5px;
    box-shadow: 3px 3px 5px 3px RGBA(128, 128, 128, 1);
}

#middle img:hover {
    transform: scale(2);
    transition-duration: 1.5s;
}

/* Right Column */

#right {
    flex: 1;
    margin-left: 15px;
    margin-top: 10px;
}
/* END OF FLEX CONTAINER */

/* Footer */

footer {
    background-color: RGB(89, 55, 35);
    color: #777777;
    font-size: 90%;
    line-height: 2.5em;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 5px 10px;
}

footer h4 {
    color: inherit;
    line-height: 3em;
}

footer a {
    color: inherit
}
